.profile button{
    font-size: 30px;
}
.main{
    height: 100vh;
   font-size: 30px;
   align-items: center;
   background-image: url('../../mainComponent/images/group-university-students-asian-sitting-green-grass-w-working-reading-outside-together-park-112322588.jpg');
   background-repeat: no-repeat;
   background: cover;
   background-size: cover;
   background-color: red;
   
   }
   .accord{
    position: fixed;
    width: 120px;
    left: 0px;
    top: 10%;
   }