//shadows
$shadows: 3px 3px rgb(195, 230, 140), -0em 0 .4em olive;;

// Breakpoint;
$lg-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;

//font quicksand
$quicksand: 'Quicksand', sans-serif;
//colores
$orange: #ffa500;
$off-white:#f8f8f8;
$green: #57b846;
$red: #ea4355;
$error-text: #f44336;
$blue:#1da1f2;
$blue:#1da1f2;
$white:#fff;
$success-text:#4caf50;
//size
$xs: 0.5rem;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg : 3rem;
$xlg: 5rem;
$xxlg: 7rem;
// buton-radius
$button-radius:30px


// shadow

